@using FunApp.Web.Models.Joke
@model JokeIndexViewModel[]

@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    @foreach (var joke in Model)
    {
        <div class="col-md-12 clearfix">
            <div class="panel panel-default">
                <div class="panel-body">
                    @joke.Content
                </div>
                <div class="panel-footer">
                    @joke.CategoryName
                </div>
            </div>
        </div>
    }
</div>
